<h1>Admin Dashboard</h1>
<div class="jumbotron">
  <h4>Products: <%= @product_count %> <a class="btn btn-info" style="float: right" href="/admin/products">View Products</a></h4>
</div>

<div class="jumbotron">
  <h4>Categories: <%= @category_count %></h4>
</div>


